html, body {
  background-color: #111;
  height: 100%;
  margin: 0;
  user-select: none;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  border-top: 1px solid #fff;
}

.pages {
  flex: 1;
  overflow: auto;
  height: 70vh;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

.inventory {
  border-top: 1px solid #fff;
}

.inventory-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-y: hidden;
  border-bottom: 1px solid #fff;
}

.inventory-items > * {
  border-right: 1px solid #fff;
}

.inventory-items .item {
  width: 25vw;
}

.inventory p {
  font-size: 1.2rem;
  text-align: center;
  height: 100%;
}

.interaction p {
  height: 3rem;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
}

p {
  font-family: 'VT323', monospace;
  font-size: 2rem;
  color: #eee;
}

.inventory-description p {
  background-color: #320e2d;
  font-size: 1.2rem;
  padding: 0 1rem;
  margin: 0 0;
}

.tip {
  background-color: #3e3f18;
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0;
}

span.link-page {
  color: #0ee;
  text-shadow: 3px 3px 0px #077;
}

span.link-hotspot {
  color: #fff979;
  text-shadow: 3px 3px 0px #883;
}

.hotspot-hover {
  display: inline;
}

span.link-item {
  color: #ff83fe;
  text-shadow: 3px 3px 0px #833;
}

.inventory .item p:hover {
  color: #ff83fe;
  text-shadow: 3px 3px 0px #833;
}

.inventory .highlighted {
  background-color: #320e2d;
}

.inventory .highlighted p {
  color: #ff83fe;
}
