html, body {
  background-color: #111;
  height: 100%;
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pages {
  flex: 1;
  overflow: auto;
  height: 90vh;
}

.inventory {
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inventory .item {
  width: 25vh;
}

.inventory p {
  font-size: 1.5rem;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-color: #fff;
}

p {
  font-family: 'VT323', monospace;
  font-size: 2rem;
  color: #eee;
}

.item-dialog {
  background-color: #320e2d;
}

.item-dialog p {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0;
}

.character-dialog {
  background-color: #3e3f18;
}

.character-dialog p {
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0;
}

span.link-page {
  color: #0ee;
  text-shadow: 3px 3px 0px #077;
}

span.character {
  color: #fff979;
  text-shadow: 3px 3px 0px #883;
}

span.link-item {
  color: #ff83fe;
  text-shadow: 3px 3px 0px #833;
}

.inventory .item p:hover {
  color: #ff83fe;
  text-shadow: 3px 3px 0px #833;
}

.inventory .highlighted {
  background-color: #320e2d;
}

.inventory .highlighted p {
  color: #ff83fe;
}
